.programs-module {
  width: 80% !important;

  .program-card-primary {
    display: flex;
    align-items: center;

    .program-list {
      width: 90%;
    }

    .program-apply-wrapper {
      display: flex;
      justify-content: flex-end;
    }
  }


  .enroll {
    .digit-card-component {
      padding-top: 0px;
      padding-bottom: 0px;
      gap: 0px;
      grid-gap: 0px;
    }
    .digit-text-block-wrap {
      display: flex;
      align-items: center;
      .digit-text-block-header-content {
        display: flex;
        align-items: center;
        flex-direction: column;
      }
    }

    .digit-action-bar-wrap {
      position: relative !important;
      justify-content: flex-end !important;

      .digit-submit-bar {
        width: 30% !important;

      }
    }
  }
}