.programs-module{
    width: 80%;
    .program-card-primary{
      display: flex;
      align-items: center;
    .program-list{
      width: 90%;
    }
    .program-apply-wrapper{
      display: flex;
      justify-content: flex-end;
    }
  }
  }