.microplanning {
    .upload {
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-top: 1.25rem;
    }

    .upload-section-option {
        width: 12.5rem;
        min-height: 32rem;
        background-color: #ffffff;
        border-top-left-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
        padding: 0.625rem;
        box-shadow: 0px 1px 2px 0px #00000029;
    }

    .upload-section-options-active {
        min-height: 3.7rem;
        display: flex;
        align-items: center;
        border-bottom: 1px rgba(214, 213, 212, 1) solid;
        cursor: pointer;
        border-right: 0.3rem solid rgba(244, 119, 56, 1);
        background-color: rgba(244, 119, 56, 0.12);

        p {
            color: rgba(80, 90, 95, 1);
            font-weight: 400;
            font-size: 16px;
        }
    }

    .upload-section-options-inactive {
        min-height: 3.7rem;
        display: flex;
        align-items: center;
        border-bottom: 1px rgba(214, 213, 212, 1) solid;
        cursor: pointer;
        border-right: none;
        background-color: rgba(255, 255, 255, 1);

        p {
            color: rgba(80, 90, 95, 1);
            font-weight: 400;
            font-size: 16px;
        }
    }

    .upload-component {
        width: 80%;
        height: min-content;
        border-radius: 0.25rem;
        padding: 1.5rem;
        background-color: rgba(255, 255, 255, 1);
        margin: 0;
        margin-right: 0.3rem;
        padding-bottom: 0.625rem;
    }

    .upload-component-active {
        display: flex;
        flex-direction: column;
        margin-bottom: 0;

        .greyedout-name {
            color: rgba(177, 180, 182, 1);
            margin: 0 0.625rem;
            font-size: 1.25rem;
            padding-top: 0px;
            font-weight: 500;
        }

        h2 {
            margin: 0;
            padding: 0;
            width: 90% !important;
            overflow: hidden;
            font-size: 2.5rem;
            font-weight: 700;
        }

        p {
            margin: 0.625rem 0;
            padding-top: 0.625rem;
            font-size: 1rem;
            margin-top: 0.625rem;
            font-weight: 400;
        }

        .heading {
            display: flex;
            justify-content: space-between;
            align-items: start;

            h2 {
                width: 90% !important;
            }

            .download-template-button {
                display: flex !important;
                padding-left: 0.625rem;
                justify-content: center !important;
                align-items: center !important;
                min-width: 13.5rem;
                height: 2.5rem;
                border: 1px rgba(244, 119, 56, 1) solid;

                .icon {
                    display: flex;
                    align-items: center;
                    margin: 0;
                    padding: 0;
                }

                p {
                    padding: 0;
                    margin: 0;
                    color: rgba(244, 119, 56, 1);
                    font-weight: 500;
                    font-size: 1rem;
                }
            }
        }
    }

    .upload-component-inactive {
        display: none;
    }

    .upload-option-container {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1.25rem 0;
        flex-wrap: wrap;

        .upload-option-container-selected {
            border: 2px rgba(244, 119, 56, 1) solid;
            color: rgba(244, 119, 56, 1);
        }
    }

    .upload-option {
        border-radius: 0.25rem;
        border: 0.0625rem rgba(214, 213, 212, 1) solid;
        min-width: 12.5rem;
        min-height: 8.75rem;
        box-shadow: 0 0.0625rem rgba(0, 0, 0, 0.16);
        padding: 0.625rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        justify-items: center;
        margin: 0 1.25rem;
        cursor: pointer;

        &:hover {
            border: 2px rgba(244, 119, 56, 1) solid;
        }

        p {
            margin-top: 0.625rem;
        }

        .upload-option-selected {
            border: 0.125rem rgba(244, 119, 56, 1) solid;
            color: rgba(244, 119, 56, 1);
        }

        .select-button {
            justify-self: end;
            border: 1px solid rgba(244, 119, 56, 1);
            background-color: rgba(255, 255, 255, 1);
            width: 11rem;
            height: 2.5rem;
            padding: 0.6rem 0.5rem;
            color: rgba(244, 119, 56, 1);
            font-size: 1rem;
            font-weight: 600;
        }

        .selected-button {
            display: flex;
            flex-direction: row;
            align-items: center !important;
            justify-self: end;
            border: 1px solid rgba(244, 119, 56, 1);
            background-color: rgba(244, 119, 56, 1);
            width: 11rem;
            height: 2.5rem;
            padding: 0.6rem 0.5rem;
            color: rgb(255, 255, 255);
            font-size: 1rem;
            font-weight: 600;
        }
    }

    .modal-header {
        width: 30rem;
        font-weight: 700;
        font-size: 1.5rem;
        padding-left: 1rem;
        margin-bottom: 0;
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
    }

    .modal-body {
        overflow: hidden;
        padding-left: 1rem;
        padding-right: 1rem;
        margin-bottom: 1rem;
        margin-right: 1rem;

        p {
            font-weight: 400;
            font-size: 1rem;
        }
    }

    .upload-file {
        min-width: 90%;
        min-height: 10rem;
        padding-top: 0.625;
        border: 1px rgba(214, 213, 212, 1);
        margin: 1rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgba(250, 250, 250, 255);

        p {
            padding: 0;
            margin: 0
        }

        .flex {
            display: flex;
        }

        .browse-text {
            padding-left: 1px;
            color: rgba(244, 119, 56, 1);
            text-decoration: underline;
            cursor: pointer;
        }
    }

    .uploaded-file {
        border: 1px solid rgba(214, 213, 212, 1);
        min-height: 4.75rem;
        background-color: rgb(256, 252, 252);
        display: flex !important;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 0.625rem;
        padding: 0 0.625rem;
        flex-wrap: wrap !important;

        .uploaded-file-details {
            display: flex;
            flex-direction: row;
            align-items: center !important;
            flex-wrap: wrap;
            padding: 1rem 0;

            p {
                padding: 0;
                margin: 0;
                height: min-content;
                font-weight: 700;
                font-size: 1.5rem;
                color: rgba(80, 90, 95, 1);
                text-align: start;
            }
        }

        .uploaded-file-operations {
            display: flex !important;
            flex-direction: row;
            align-items: center;
            justify-items: end;
            flex-wrap: wrap !important;

            .button {
                display: flex !important;
                flex-direction: row;
                align-items: center !important;
                justify-content: center;
                margin-left: 1rem;
                min-width: 9rem;
                height: 2.5rem;
                border: 1px rgba(244, 119, 56, 1) solid;
                background-color: white;
                cursor: pointer;
            }
            p {
                padding: 0;
                margin: 0;
                margin-left: 0.5rem;
                color: rgba(244, 119, 56, 1);
                font-weight: 600;
                font-size: 1rem;
            }

            .deletebutton {
                background-color: rgb(255, 255, 255, 0);
                border: none;
            }
        }
    }

    .loader-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.7);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99999;

        .loader {
            border: 0.5rem solid rgb(255, 255, 255);
            border-top: 0.5rem solid rgba(80, 76, 76, 0);
            border-radius: 50%;
            width: 3.125rem;
            height: 3.125rem;
            animation: spin 2s linear infinite;
        }

        .loader-inner {
            border: 1px solid rgb(255, 255, 255);
            border-radius: 50%;
            width: 100%;
            height: 100%;
        }

        .loader-text {
            color: whitesmoke;
            padding-top: 1.25rem;
        }
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    .message {
        margin-right: 0.6px;
    }

    .close-button {
        background: transparent;
        border: none;
        color: inherit;
        cursor: pointer;
    }

    .altrady-have-template-button {
        display: flex !important;
        justify-content: center;
        padding: 0;
        margin: 0;

        p {
            font-weight: 600;
            font-size: 1rem;
            margin: 0;
            padding: 0;
        }
    }

    .download-template-button {
        display: flex !important;
        justify-content: center;
        padding: 0;
        margin: 0;

        .icon {
            display: flex;
            align-items: center;
            margin: 0;
            padding: 0;
        }

        p {
            font-weight: 500;
            font-size: 1rem;
            margin: 0;
            padding: 0;
        }
    }

    .file-upload-error-container {
        border: 1px solid rgba(214, 213, 212, 1);
        min-height: 4.75rem;
        display: flex !important;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        margin-top: 0.625rem;
        padding: 0.625rem 0.625rem;
        flex-wrap: wrap;
        background-color: rgba(255, 225, 221, 1);
        color: rgba(212, 53, 28, 1);

        .heading {
            display: flex;
            flex-direction: row;
            align-items: center;


            p {
                font-size: 1.125rem;
                font-weight: 700;
                padding: 0;
                margin: 0;
                padding-left: 0.625rem;
            }
        }

        .body {
            color: rgba(212, 53, 28, 1);

            p {
                padding: 0;
                margin: 0;
            }
        }
    }

    .spatial-data-property-mapping {
        width: calc(100%-2rem);
        padding: 1rem;
        max-height: 31.68rem;
        padding-top: 0;
        margin: 1rem;
        border: 0.063rem rgba(0, 0, 0, 0.16) solid;
        box-shadow: 0rem 0.063rem 0.125rem 0rem rgba(0, 0, 0, 0.16);
        border-radius: 0.25rem;
        background-color: rgba(250, 250, 250, 255);
        display: block;
        overflow: auto;
        padding-bottom: 0;

        table {
            width: 100%;

            th {
                width: 50%;
                font-weight: 700;
                font-size: 1rem;
                padding: 1.5rem;
                margin: 0;
                border-bottom: 0.063rem rgba(214, 213, 212, 1) solid !important;
            }

            td {
                width: 50%;
                font-weight: 400;
                font-size: 1rem;
                padding: 1.5rem;
                margin: 0;
                border-bottom: 0.063rem rgba(214, 213, 212, 1) solid !important;
            }

            select {
                width: 100%;
                appearance: none;
                -webkit-appearance: none;
                -moz-appearance: none;
                background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path fill="black" d="M5 7l5 5 5-5H5z"/></svg>');
                background-repeat: no-repeat;
                background-position: right 0.7em top 50%, 0 0;
                background-size: 1.5em auto;
                background-color: rgb(255, 255, 255, 0);
                border: 0.0623rem solid black !important;
                padding: 0.5rem;
                font-weight: 400;
                font-size: 1rem;
            }

            select:focus {
                outline: none;
                border-color: black;
            }

            option {
                font-weight: 400;
                padding: 0.5rem;
                font-size: 1rem;
                max-height: 50%;
                border: 0.0623rem solid black !important;
                border-radius: 0;
            }

            option:focus {
                outline: none;
                border-color: black;
            }

        }

        .pagination-toolbar {
            position: sticky;
            bottom: 0;
            left: 0;
            background-color: rgba(250, 250, 250, 255);
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: end;
            padding: 1rem 0;

            select {
                appearance: none;
                -webkit-appearance: none;
                -moz-appearance: none;
                background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path fill="black" d="M5 7l5 5 5-5H5z"/></svg>');
                background-repeat: no-repeat;
                background-position: right 0.7em top 50%, 0 0;
                background-size: 1.5em auto;
                background-color: rgb(255, 255, 255, 0);
                padding: 0.5rem;
                font-weight: 400;
                font-size: 1rem;
                color: rgba(80, 90, 95, 1);
                padding-right: 2em;
            }

            select:focus {
                outline: none;
            }

            option {
                font-weight: 400;
                padding: 0.5rem;
                font-size: 1rem;
                max-height: 50%;
                color: rgba(80, 90, 95, 1);
                border-radius: 0;
            }

            span {
                font-weight: 400;
                padding: 0.5rem;
                font-size: 1rem;
                color: rgba(80, 90, 95, 1);
            }

            .navigation {
                color: black;
                font-size: 1rem;
                font-weight: 700;
            }
        }
    }

    .preview-data {
        margin: 0 2.5rem;
        width: calc(100% - 5rem);
        border-radius: 0.25rem;

        .operational-buttons {
            display: flex;
            justify-content: space-between;
            margin-top: 1.5rem;
            margin-bottom: 1.5rem;
        }

        .excel-wrapper {
            width: 100%;
            padding: 1rem 0.5rem;
            display: flex;
            flex-direction: column;
            gap: 20px;
            background-color: white !important;
            border: 0.063rem rgba(0, 0, 0, 0.16) solid !important;
            border-radius: 0.25rem;

            .sheet-wrapper {
                height: 80vh;
                overflow: auto;
                background-color: white;
                padding: 0.3rem;

                &::-webkit-scrollbar {
                    width: 0.625rem;
                    height: 0.625rem;
                    border: none;
                }

                &::-webkit-scrollbar-track {
                    background: #ffffff;
                    border: none;
                }

                &::-webkit-scrollbar-thumb {
                    background: rgba(177, 180, 182, 1);
                    border-radius: 10px;
                    border: 2px solid #f0f0f0;
                }

                &::-webkit-scrollbar-thumb:hover {
                    background: rgba(177, 180, 182, 0.8);
                }

                h3 {
                    background-color: #f4f4f4;
                    padding: 10px;
                    margin: 0;
                }

                .excel-table {
                    width: 100%;
                    border: 1px solid #ccc;
                    border-collapse: collapse;

                    th,
                    td {
                        border: 1px solid #ccc;
                        padding: 8px;
                        font-family: Arial, sans-serif;
                        font-size: 14px;
                    }

                    th {
                        background-color: #f4f4f4;
                        font-weight: bold;
                        text-align: left;
                    }
                }
            }
        }
    }
}