.container-full {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  align-items: stretch;
  height: 100%;
}

.card-container {
  height: 100%;
}

.card-container2 {
  width: -webkit-fill-available;
  padding-bottom: 1.5rem;
}

.campaign-bulk-upload {
  display: flex;
  justify-content: space-between;

  .campaign-download-template-btn {
    font-weight: 700;
  }
}

.update-boundary-header {
  color: var(--digitv2-lightTheme-primary-2);
  font-size: var(--fontSize-heading-xl);
}

.info-text {
  color: var(--digitv2-lightTheme-text-color-secondary);
}

.digit-popup-wrapper {
  &.popUpClass {
    width: 50rem;

    .popUpFooter {
      .digit-popup-footer-buttons {
        margin-left: 0rem;
        width: 100%;

        button {
          flex: 1;
        }
      }
    }
  }
}

.upload-drag-drop-container {
  background-color: var(--digitv2-lightTheme-paper-secondary);
  border: 0.094rem dashed var(--digitv2-lightTheme-divider);
  border-radius: 0.313rem;
  padding: 1rem 1rem 1rem 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;

  .drag-drop-text {
    text-decoration: none;

    .browse-text {
      text-align: center;
      text-decoration: none;
      color: var(--digitv2-lightTheme-primary);
      transition: color 0.3s;
    }

    .browse-text:hover {
      color: var(--digitv2-lightTheme-primary);
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

.upload-drag-drop-container {
  margin-left: 0rem;

  .drag-drop {
    color: var(--digitv2-lightTheme-text-color-disabled);
  }

  .browse-text {
    text-align: center;
    text-decoration: underline;
    color: var(--digitv2-lightTheme-primary);
    transition: color 0.3s;
  }
}

.upload-drag-drop-container {
  .drag-drop-text {
    display: flex;
    gap: 0.25rem;
  }
}

.bulk-upload-file {
  .uploaded-file-container {
    margin: 0;
    margin-bottom: 1.5rem;
  }
}

.uploaded-file-container {
  margin: 0rem;
  padding: 1rem;
}

.delete-and-download-button {
  display: flex;
  gap: 1.5rem;
}

.popup-wrap.campaign-data-preview {
  flex-direction: column;
}

.back-button-xlsxpreview {
  width: 10.625rem;
}

.campaign-popup-module {
  margin: auto;
  width: calc(100% - 5rem);
}

.hierarchy-boundary-heading {
  font-size: 2.5rem;
  font-weight: 700;
  font-family: "Roboto Condensed", sans-serif;
}

.hierarchy-boundary-sub-heading {
  width: 20rem;
  margin-top: 0.6rem;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
}

.hierarchy-boundary-sub-heading2 {
  font-size: 1.2rem;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
}

.boundary-management-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 1.5rem;
}

.boundary-excel-upload-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.boundary-excel-subheader,
.hierarchy-boundary-heading {
  color: var(--digitv2-lightTheme-primary-2) !important;
}

.boundary-home-header {
  color: var(--digitv2-lightTheme-primary-2);
  font-size: 2.5rem;
  font-weight: 700;
  font-family: "Roboto Condensed";
}

.digit-inbox-search-wrapper {
  .digit-inbox-search-component-wrapper {
    .digit-sections-parent {
      .digit-section {
        &.search {
          border-radius: 0.75rem;
        }
      }
    }
  }
}

.digit-data-table {
  border-radius: unset !important;
}

.example-view-card {
  &.create {
    margin-top: 1.5rem;
  }
}

.boundary-level-label {
  font-family: var(--digitv2-fontFamily-sans);
  font-style: var(--digitv2-fontStyle-normal);
  font-weight: var(--digitv2-fontWeight-bold);

  @media (max-width: 30rem) {
    /* Media query for mobile */
    font-size: var(--digitv2-fontSize-heading-s-mobile);
  }

  @media (min-width: 30.063rem) and (max-width: 47.938rem) {
    /* Media query for tablets */
    font-size: var(--digitv2-fontSize-heading-s-tablet);
  }

  @media (min-width: 48rem) {
    /* Media query for desktop */
    font-size: var(--digitv2-fontSize-heading-s-desktop);
  }

  color: var(--digitv2-lightTheme-text-primary);
}

.boundary-description {
  color: var(--digitv2-lightTheme-text-color-secondary);
}

.dustbin-icon-create {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;

  svg {
    cursor: pointer;
  }
}

.digit-topbar-logo {
  display: flex;
  align-items: center;
}
