.careerTitle {
  @apply text-3xl mb-6 text-center font-bold sm:text-5xl;
}


.employeeCard {
  
  margin-left: 5.5em;
}
.h1 
{
  margin-left:2.5em;
}
.employee-app-wrapper
{
  min-height:0;
}
.body-container
{
  display:contents;
}
.employee .ground-container
{
  margin-bottom: 0px;
}
.bread-crumb 
{
  margin-left:6.1em;
}
.inbox-container .filters-container {
  margin-left: 6em;
}
.documentDetails_wrapper {
  margin-left: 5em;
}