.custom-form {
  .label-field-wrapper {
    width: 100% !important;
  }

  .custom-label-pair {
    margin-bottom: 0rem;
  }

  .digit-submit-bar {
    width: fit-content;
    margin-left: auto;
  }
}
