.campaign-cycle-container {
  .campaign-tabs-container {
  }
}

.sc-jlZhew.dVtbRz {
  overflow: hidden;
}
.campaign-popup-module {
  margin: auto;
  width: calc(100% - 5rem);
}
.campaign-bulk-upload {
  display: flex;
  padding-top: 0.7rem;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  margin-left: 1rem;
  .campaign-download-template-btn {
    margin-right: 1rem;
  }
}
.info-text {
  margin-bottom: 2rem;
  margin-left: 1rem;
}
.delete-and-download-button {
  display: flex;
  gap: 1.5rem;
}
