.EmployeeLoginFooter{
    margin: auto;
    @apply absolute bottom-10;
    img{
        @apply h-4 object-contain;
    }
}
/*.language-selector-style{
    margin-bottom:24px;
    display:inline-flex;
    justify-content: space-between;
    width :20px;
}
.floatleftstyle{
float:left;
}
.floatrightstyle
{
float:right;
}*/