.sections-parent {
    &.inbox {
        .section {
            &.filter {
                .search-wrapper {
                    .search-field-wrapper {
                        &.inbox {
                            display: flex;
                            flex-direction: column;
                        }
                    }
                }
            }

        }
    }
}

.submit-bar{
    background-color: theme(digitv2.lightTheme.primary) !important;
}

.link-label{
    color: theme(digitv2.lightTheme.primary) !important;
}