
.link-label {
  color: #f47738 !important;
}
.submit-bar
  {
  background-color: #C84C0E !important;
}
.complaint-links-container .body .link a 
{
  color:#C84C0E !important;
}

.link {
  color:#C84C0E !important;
}
.action-bar-wrap .menu-wrap{
  height:100px;
}
.SearchOnRadioButton svg {
  width: 50rem ;
}
.app-container form .card .input-otp-wrap
{
  background-color: white !important;
}
.CitizenHomeCard .links a {
  text-decoration: none !important;
  color:#C84C0E !important;
}