.sandbox-module-container {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

.sandbox-module-card {
  min-height: 263px !important;
  width: 263px !important;
  margin-bottom: 1.5rem;
  background-color: #fff;
  padding: unset !important;
  margin: unset !important;
  position: relative;
}

.sandbox-module-button {
  position: absolute;
  width: 100%;
  bottom: 1.5rem;
  left: 1rem;
  right: 1rem;
  margin: auto;
  width: auto;
}

.sandbox-table-actions {
  display: flex;
  gap: 1rem;
}
.table.sandbox-application-table {
  border-collapse: collapse;
  border-color: transparent;
  border-width: 0 1.5rem;
  tbody {
    tr:hover {
      background: rgba(#f47738, 0.12);
    }
  }
}

.digit-header-content.sandbox-header {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  margin-bottom: 16px;
}
