.DS_Store
accelerators/frontend/micro-ui-internals/node_modules/*
.idea
index.lock
utilities/project-factory/node_modules/*
utilities/egov-bff/node_modules/*
utilities/
/micro-frontends/web

/micro-frontends/sandbox-ui/node_modules/
/micro-frontends/sandbox-ui/*-lock.json
/micro-frontends/sandbox-ui/dist/
