.DS_Store
accelerators/frontend/micro-ui-internals/node_modules/*
.idea
index.lock
utilities/project-factory/node_modules/*
utilities/egov-bff/node_modules/*
utilities/
/micro-frontends/web

/micro-frontends/ai-generated/node_modules/
/micro-frontends/single-spa/node_modules/
/micro-frontends/react-18/node_modules/
