.slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    width: 22rem;
    height: 100vh;
    justify-content: center;
    position: relative;
    cursor: pointer;
    
  }
  
  .slider-image {
    height: 100vh;
    width: 22rem;
    border-radius: 8px;
    color: red;
    transition: opacity 1.5s ease-in-out;
    
  }
  .slider-image.fade-in {
    opacity: 1;
  }
  
  .slider-image.fade-out {
    opacity: 0;
  }
  
  .slider-card {
    background-color: rgba(104, 104, 255, 0.6);
    border-radius: 0.7rem;
    position: absolute;
    top: 0;
    height: 25rem;
    width: 22rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .slider-text {
    position: absolute;
    top: 10rem;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 1.2em;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    width: 90%;
  }
  
  
  
  .slider-buttons {
    margin-left: 1rem;
    position: absolute;
    top: 22rem;
    left: 0;
    /* Align buttons to the start of the row */
    display: flex;
    flex-direction: row;
    /* Fix from 'rows' to 'row' to arrange buttons horizontally */
    justify-content: center;
    transform: translateY(-50%);
    gap: 10px;
    /* Space between buttons */
  }
  
  .slider-button {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.7;
    padding: 0;
    min-height: 50px;
    max-height: 50px;
    min-width: 50px;
    max-width: 50px;
  
  }
  
  
  
  .slider-button img {
    width: 24px;
    height: 24px;
  }
  
  .slider-button:hover {
    opacity: 1;
  }
  
  .slider-button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }
  
  .digit-text-block-header-content.custom-header-class {
    .digit-text-block-header {
      font-size: 1.5em;
      color: rgb(249, 246, 246) !important;
      color: #333;
      font-weight: bold;
      margin-bottom: 10px;
    }
  
    .digit-text-block-body{
      margin-top: 0rem;
    }
  }
  
  .digit-text-block-wrap{
    gap:0rem;
  }

  .slider-dots {
    position: absolute;
    top: 22rem;
    left:2.5rem;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
  }
  
  .dot {
    width: 0.5rem;
    height: 0.5rem;
    background-color: orange;
    border-radius: 50%;
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 1s;
  }
  
  .dot.active {
    opacity: 1;
  }