@import url("./drawer.css");
@import url("./toast.css");

/* // @import 'tailwindcss/base';
// @import 'tailwindcss/components';
// @import 'tailwindcss/utilities';

// add styles to your classname here  */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.player-wrapper {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.player-click-area {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.player-iframe {
  position: relative;
  z-index: 0;
}
