.theme-light .bg-primary {
    background-color: var(--tw-color-primary);
  }
  
  .theme-light .text-secondary {
    color: var(--tw-color-secondary);
  }
  
  .theme-dark .bg-primary {
    background-color: var(--tw-color-primary);
  }
  
  .theme-dark .text-secondary {
    color: var(--tw-color-secondary);
  }