.attendance-screen-headers{
  color: var(--digitv2-lightTheme-primary-2);
  font-size: var(--digitv2-fontSize-heading-xl-desktop);
  white-space: nowrap;
  font-weight: 700;
  line-height: normal;

  &.register-details{
    font-size: var(--digitv2-fontSize-heading-m-desktop);
    font-family: Roboto;
  }
}

.digit-map-users-to-registers-table {
  border-radius: 8px 8px 0px 0px;
  .rdt_TableBody {
    border: none !important;
    border-radius: 8px 8px 0px 0px;
  }

  .rdt_Table {
    border-radius: 8px 8px 0px 0px;
  }

  .rdt_TableHead {
    border-radius: 8px 8px 0px 0px;
  }

  .rdt_TableHeadRow {
    border-radius: 8px 8px 0px 0px;

    .rdt_TableCol{
      &:first-of-type{
        border-top-left-radius: 8px !important;
      }
      &:last-of-type{
        border-top-right-radius: 8px !important;
      }
    }
  }
}

.map-users-heading{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
    flex-direction: column;
}