.campaign-cycle-container {
  .campaign-tabs-container {
  }

  .sub-tab-container {
    margin-bottom: 1.5rem;
    padding: 1.5rem;

    .card-text {
      margin-bottom: 0;
    }
  }

  .add-resource-container {
    background-color: #fafafa;
    border: 1px solid #d6d5d4;
    border-radius: 0.4rem;
    padding: 1rem;
    margin-bottom: 1.5rem;

    .digit-card-text {
      margin: 0;
      font-weight: 700;
    }

    .header-container {
      display: flex;
      align-items: baseline;
      justify-content: space-between;
    }
  }

  .delete-resource-icon {
    cursor: pointer;
    font-weight: 600;
    font-size: 1rem;
    color: var(--digitv2-lightTheme-primary);
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }

  .add-resource-label-field-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 2rem;

    .options-card {
      max-height: 10rem !important;
    }
  }

  .popup-wrap {
    .popup-module-main {
      max-height: 707px;
      overflow-y: auto;
      width: 99%;

      &::-webkit-scrollbar {
        width: 0.5rem;
        background: transparent;
      }

      &::-webkit-scrollbar-thumb {
        background: #d6d5d4;
        /* Color of the scrollbar thumb */
        border-radius: 5px;
        /* Adjust the border-radius for rounded corners */
        height: 0.5rem;
      }
    }

    .popup-module-action-bar {
      .selector-button-primary {
        padding: 0.6rem 2.5rem;
        height: unset;
        margin: 1.5rem;
        background-color: var(--digitv2-lightTheme-primary);
      }
    }
  }
}

.selector-button-primary {
  background-color: var(--digitv2-lightTheme-primary);
}

.campaign-breadcrumb {
  margin: 0;
  margin-bottom: 1.5rem;
  color: var(--digitv2-lightTheme-primary) !important;
}

.sc-jlZhew.dVtbRz {
  overflow: hidden;
}

.campaign-popup-module {
  margin: auto;
  width: calc(100% - 5rem);
}

.campaign-bulk-upload {
  display: flex;
  justify-content: space-between;

  .campaign-download-template-btn {
    font-weight: 700;
  }
}

.bulk-info-text {
  margin-bottom: 1.5rem;
}

.delete-and-download-button {
  display: flex;
  gap: 1.5rem;
}

.bulk-upload-file {
  .uploaded-file-container {
    margin: 0;
    margin-bottom: 1.5rem;
  }
}

.uploaded-file-container {
  margin: 0rem;
  padding: 1rem;
}

.upload-drag-drop-container {
  background-color: #fafafa;
  border: 1.5px dashed #d6d5d4;
  border-radius: 5px;
  padding: 1rem 1rem 1rem 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;

  .drag-drop-text {
    text-decoration: none;

    .browse-text {
      text-align: center;
      text-decoration: none;
      color: var(--digitv2-lightTheme-primary);
      transition: color 0.3s;
    }

    .browse-text:hover {
      color: var(--digitv2-lightTheme-primary);
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

.upload-drag-drop-container {
  margin-left: 0rem;

  .drag-drop {
    color: #b1b4b6;
  }

  .browse-text {
    text-align: center;
    text-decoration: underline;
    color: var(--digitv2-lightTheme-primary);
    transition: color 0.3s;
  }
}

.campaign-counter-container {
  padding: 1.5rem;

  .digit-card-text {
    margin-top: 0;
  }

  .digit-label-field-pair {
    margin-bottom: 1rem;

    .digit-card-label {
      font-weight: 700;
    }
  }

  .date-field-container {
    display: grid;
    grid-template-columns: 18.75rem 18.75rem;
    grid-gap: 1.5rem;
    width: 100%;
  }

  .PlusMinus {
    width: 30%;

    input {
      width: 100%;
    }
  }
}

.campaign-tab-head {
  padding: 1rem;
  width: 12.5rem;
  height: 3.75rem;
  border-radius: 10px 10px 0px 0px;
  background-color: #ffffff;
  outline: none;
  box-sizing: border-box;
  font-weight: 700;
  font-size: 1rem;
  font-family: "Roboto";
  color: #505a5f;
  margin-bottom: -6px;
  border: 1px solid #d6d5d4;
  background-color: #fafafa;

  &.active {
    height: 4rem;
    background-color: #ffffff;
    outline: none;
    font-weight: bold;
    color: var(--digitv2-lightTheme-primary);
    border: 1px solid var(--digitv2-lightTheme-primary);
    border-bottom: 4px solid var(--digitv2-lightTheme-primary);
    box-sizing: border-box;
    font-size: 1.5rem;
    cursor: default;
  }

  p{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  :focus {
    outline: none;
  }
}

.campaign-sub-tab-head {
  outline: none;
  background-color: #ffffff;
  color: var(--digitv2-lightTheme-primary);
  border: 1px solid var(--digitv2-lightTheme-primary);
  height: 2rem;
  width: 9.188rem;
  font-size: 1rem;
  font-weight: 400;

  &.active {
    background-color: var(--digitv2-lightTheme-primary);
    color: #ffffff;
    font-weight: bold;
    outline: none;
    height: 2rem;
    width: 9.188rem;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 1rem;
    cursor: default;
  }
}

.campaign-sub-tab-head:first-child {
  border-top-left-radius: var(--digitv2-borderRadius-radius2);
  border-bottom-left-radius: var(--digitv2-borderRadius-radius2);
}

.campaign-sub-tab-head:last-child {
  border-top-right-radius: var(--digitv2-borderRadius-radius2);
  border-bottom-right-radius: var(--digitv2-borderRadius-radius2);
}

.campaign-cycle-container,
.delivery-summary {
  .digit-toggle-toolbar .toggle-option-container:first-child .digit-toggle-btn-wrap {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  .digit-toggle-toolbar .toggle-option-container:last-child .digit-toggle-btn-wrap {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}

.tab-content-header {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem !important;
}

.card-header-delivery {
  display: flex;
  justify-content: space-between;
}

.delivery-rule-container {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;

  .digit-card-header {
    .title {
      margin: 0 !important;
    }

    font-size: 1.5rem !important;
    margin: 0;
    display: flex;
    align-content: center;
    justify-content: space-between;
    font-family: var(--digitv2-fontFamily-sans);
  }

  .attribute-container {
    border: 1px solid #d6d5d4;
    background-color: #fafafa;
    padding: 1rem;

    .add-attribute {
      width: 74.5%;
      justify-content: center;

      h2 {
        font-size: 1rem;
        font-family: Roboto;
        width: unset !important;
        font-weight: 600;
      }
    }
  }
}

.attribute-field-wrapper {
  margin-top: 0rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  gap: 2.5rem;

  .digit-label-field-pair {
    flex-direction: column;
    align-items: flex-start !important;

    .digit-card-label.card-label-smaller {
      font-weight: 700;
      margin-bottom: 0rem;
    }

    .employee-select-wrap.form-field {
      width: 100%;
    }

    .digit-employee-card-input {
      margin-bottom: 0;
    }
  }

  .options-card {
    max-height: 10rem !important;
  }

  .card-label {
    margin-bottom: 0.5rem;
  }
}

.add-rule-btn {
  margin: auto;
  margin-bottom: 1rem;
  margin-top: 1.5rem;

  h2 {
    font-family: Roboto;
    font-size: 1rem;
    font-weight: 600;
  }
}

.add-product-btn {
  h2 {
    font-family: Roboto;
    font-size: 1rem;
    font-weight: 600;
  }
}

.popup-wrap.campaign-product-wrapper {
  .popup-module {
    width: 70%;
    padding-left: 1.5rem;
    padding-bottom: 1.5rem;

    .header-wrap {
      font-size: 1.5rem;
      font-weight: 700;

      .header-content.popup-header-fix {
        margin-top: 1.5rem;
      }
    }
  }

  .popup-module-action-bar {
    margin-top: 1.5rem;
    margin-right: 1.5rem;
  }
}

.search-button-wrapper {
  grid-column-end: -1 !important;
  flex-direction: row !important;
}

.add-resource-modal {
}

.add-resource-wrapper {
  margin-bottom: 5rem;
  .link {
    color: var(--digitv2-lightTheme-primary);
  }
}