.question-card-container {
  width: 100%;
  border: 1px solid #d6d5d4;
  background-color: #fafafa;

  &.subSection {
    width: 100%;
  }

  .heading-bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;

    .separator {
      height: 2rem;
      border: 1px solid #d6d5d4;
    }

    .digit-checkbox-container {
      margin-bottom: unset;
    }
  }
}

.question-label-field {
  align-items: baseline !important;

  .question-label {
    width: 30%;
  }

  .question-field-container {
    width: 100%;

    .question-field {
      display: flex;
      gap: 1rem;
      justify-content: space-between;
    }
  }
}

.checkboxOptionVariant {
  margin-bottom: 0 !important;
  margin-top: auto;
  gap: 0.5rem;
}

.customradiobutton {
  margin-bottom: 0 !important;
  margin-top: auto;
  gap: 0.5rem;
}

.optioncheckboxwrapper {
  display: flex;
  align-items: center;

  .simple_editable-input,
  .simple_readonly-input {
    height: 1.5rem;
    display: flex;
    align-items: center;
    align-self: center;
  }

  .pointer {
    display: flex;
    align-items: center;
  }
}

.optionradiobtnwrapper {
  display: flex;
  align-items: center;

  .simple_editable-input,
  .simple_readonly-input {
    height: 3rem;
    display: flex;
    align-items: center;
    align-self: center;
  }

  .pointer {
    display: flex;
    align-items: center;
  }
}

.example {
  max-width: 100rem;

  input {
    max-width: 100rem;
  }
}

.checkboxOptionVariant {
  margin-bottom: 0px;
}

.question-card-container {
  width: 100%;
  border: 1px solid #d6d5d4;
  background-color: #fafafa;

  &.subSection {
    width: 100%;
  }

  .heading-bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;

    .separator {
      height: 2rem;
      border: 1px solid #d6d5d4;
    }

    .digit-checkbox-container {
      margin-bottom: unset;
    }
  }
}

.question-label-field {
  align-items: baseline !important;

  .question-label {
    width: 30%;
  }

  .question-field-container {
    width: 100%;

    .question-field {
      display: flex;
      gap: 1rem;
      justify-content: space-between;
    }
  }
}

.checkboxOptionVariant {
  margin-bottom: 0 !important;
  margin-top: auto;
  gap: 0.5rem;
}

.customradiobutton {
  margin-bottom: 0 !important;
  margin-top: auto;
  gap: 0.5rem;
}

.optioncheckboxwrapper {
  display: flex;
  align-items: center;

  .simple_editable-input,
  .simple_readonly-input {
    height: 1.5rem;
    display: flex;
    align-items: center;
    align-self: center;
  }

  .pointer {
    display: flex;
    align-items: center;
  }
}

.optionradiobtnwrapper {
  display: flex;
  align-items: center;

  .simple_editable-input,
  .simple_readonly-input {
    height: 3rem;
    display: flex;
    align-items: center;
    align-self: center;
  }

  .pointer {
    display: flex;
    align-items: center;
  }
}

.example {
  max-width: 100rem;

  input {
    max-width: 100rem;
  }
}

.checkboxOptionVariant {
  margin-bottom: 0px;
}

.width-auto {
  width: auto !important;
}

.employeeCard {
  .label-field-pair {
    width: auto;
  }
}

.digit-employee-card {
  &.example-view-card {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
}

.previewChecklist-app-container {
  width: 100%;
  margin: 0 auto;
  padding: 16px;
  background-color: #f5f5f5;
  font-family: Arial, sans-serif;
}

.preview-question-title {
  font-weight: bold;
  margin-bottom: 10px;
}

.preview-options {
  margin-left: 20px;
}

.preview-option {
  font-weight: lighter;
  margin-bottom: 5px;
}

.preview-sub-questions {
  margin-left: 20px;
}

.tetxinput-example {
  .input-container {
    max-width: unset !important;
  }
}

.digit-employee-card {
  margin-bottom: 1rem;
  margin-right: 0px !important;
  margin-left: 0px !important;
}

.digit-employee-card .digit-label-field-pair h2 {
  width: auto;
  font-size: larger;
}

/* Mobile screen simulation */
.mobile-screen {
  width: 25rem;
  /* Mobile screen width */
  height: 40rem;
  /* Mobile screen height */
  border: 0rem solid #ccc;
  border-radius: 1rem;
  overflow: hidden;
  background-color: white;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  font-family: Arial, sans-serif;
}

/* Top blue bar */
.mobile-top-bar {
  background-color: var(--digitv2-lightTheme-header-sidenav);
  height: 4rem;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  color: var(--digitv2-lightTheme-paper);
  font-size: 1.5rem;
  font-weight: var(--digitv2-fontWeight-bold);
  width: 100%;
  /* Full width */
  box-sizing: border-box;
}

/* Main container content */
.mobile-container {
  padding-top: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 1.5rem;
  /* Add padding around the main content */
  height: calc(100% - 50px);
  /* Adjust height to fill remaining space */
  display: flex;
  flex-direction: column;
  /* Stack children vertically */
}

/* Questions section */
.mobile-questions {
  flex: 1;
  /* Allow this section to grow and fill available space */
  padding: 0.2rem;
  /* Add padding to questions */
  overflow-y: auto;
  /* Enable vertical scrolling */
  /* Optional: add a border */
  border-radius: 0rem;
  /* Optional: rounded corners */
  padding-left: 0.4rem;
  padding-right: 0.4rem;
}

/* Header styling */
.mobile-header h2 {
  color: #000000;
  font-size: 0.875rem;
  /* 14px */
  margin-bottom: 0.3125rem;
  /* 5px */
}

.mobile-header h1 {
  font-size: 1.25rem;
  /* 20px */
  color: #222;
}

.mobile-checklist-highlight {
  font-weight: var(--digitv2-fontWeight-bold);
  padding: 0 0.3125rem;
  font-size: larger;
  font-family: "Roboto Condensed", sans-serif;
  /* 0 to 5px */
}

.mobile-description {
  font-size: 0.75rem;
  /* 12px */
  margin-top: 0.625rem;
  /* 10px */
  margin-bottom: 1.25rem;
  /* 20px */
  color: #777;
}

/* Question and answer styling */
.mobile-questions .mobile-question-item {
  border-bottom: 1px solid #ccc;
  /* Standard border */
  padding: 0 0;
  margin-bottom: 0.5rem;
}

.mobile-questions .mobile-question-item:last-child {
  border-bottom: none;
  /* Remove border for the last item */
}

.mobile-question {
  font-weight: var(--digitv2-fontWeight-bold);
  font-size: 0.875rem;
  color: #000000;
  /* 14px */
}

.mobile-answer {
  font-size: 0.875rem;
  /* 14px */
  margin-left: 0.625rem;
  /* 10px */
}

.mobile-question-number {
  font-weight: 700;
  margin-bottom: 0.3rem;
  /* Adjust spacing */
  color: #444;
  /* Adjust color */
}

.mandatory-asterisk {
  color: #b91900;
  margin-left: 4px;
  /* Adjust spacing between the question number and asterisk */
}

.custom-pop-up {
  width: fit-content !important;

  .digit-popup-footer {
    padding-top: 0 !important;

    .digit-popup-footer-buttons {
      width: 100% !important;
      display: grid;
      grid-template-columns: 1fr 1fr;

      .digit-button-secondary {
        width: 100%;
      }

      .digit-button-primary {
        width: 100%;
      }
    }
  }

  .digit-popup-children-wrap {
    padding-top: 0 !important;
  }
}

.custom-popup-boundary {
  max-width: 100%;
  height: 11rem;
}

.dustbin-icon {
  margin-bottom: 1rem;
  margin-top: 0.7rem;
}

.custom-action-bar .digit-action-bar-fields {
  display: contents;
}

.digit-action-bar-wrap div {
  width: unset;
}

.digit-button-secondary.disabled h2 {
  color: #c5c5c5 !important;
}

.back-button-xlsxpreview {
  width: 170px;
}

/* Mobile Checklist Field Wrapper Styles using FieldV1 */
.mobile-field-wrapper,
.mobile-numeric-field {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;

  .digit-field-wrapper {
    margin-bottom: 0;
  }

  .digit-text-input,
  .digit-textarea-input,
  .digit-number-input {
    width: 100%;
  }
}
