

.app-container {
  @extend .light-background !optional;
  width: 100%;
  form {
    .card {
      max-width: 960px;
      h2 {
        @extend .light-text-color-primary !optional;
        text-align: left;
      }
      .field-container {
        max-width: 540px;
      }
      button {
        @extend .light-primary-button !optional;
        max-width: 240px;
      }
      .input-otp-wrap,
      .card-text-button {
        @extend .light-primary-button !optional;
        text-align: left;
      }
    }
  }
}

@screen dt {
  .employee-app-container {
    @apply w-full;
  }

  .app-container {
    width: 100%;
    form {
      .card {
        max-width: 960px;
        h2 {
          text-align: left;
        }
        .field-container {
          max-width: 540px;
        }
        button {
          max-width: 240px;
        }
        .input-otp-wrap,
        .card-text-button {
          text-align: left;
        }
      }
    }
  }
}
