

body {
  @extend .light-background !optional;
}

.body-container {
  @extend .light-background !optional;
  @apply h-full min-h-screen overflow-x-hidden;
}

.body-container::-webkit-scrollbar {
  display: none;
}

.h1 {
  @extend .light-text-color-primary !optional;
  @apply text-heading-l font-bold mb-md ml-md;
}

.link-label {
  @extend .light-primary !optional;
  @apply block mb-md ml-md cursor-pointer;

  &:hover {
    @extend .light-text-color-primary !optional;
  }
}

@screen dt {
  .h1 {
    margin-left: 0;
    @apply text-heading-l-dt;
  }

  .link-label {
    margin-left: 0;
  }
}
