.digit-card-textarea,
.digit-employee-card-textarea {
  @apply block outline-none mt-md mb-lg border-2 w-full border-input-border border-solid bg-white h-24 text-form-field text-text-primary p-sm;
  @extend .light-input-border !optional;
}
.digit-employee-card-textarea {
  @apply w-full;
}
.digit-cell-text {
  color: var(--digitv2-lightTheme-text-color-secondary);
}
