@import url("../index.scss");

.digit-checkbox-wrap {
  @apply flex mb-md relative;
  gap: 1rem;

  input {
    @apply opacity-0 absolute cursor-pointer z-10;
    @extend .light-input-border;
    width: 2rem;
    height: 2rem;
    left: -15%;
  }

  .input-emp {
    @extend input ;
  }

  .digit-custom-checkbox {
    @apply flex items-center border border-solid border-text-secondary justify-center;
    width: 1.5rem;
    height: 1.5rem;

    img,
    svg {
      @apply opacity-0;
    }

    &:hover {
      @apply border-2 border-primary-main;
    }
  }

  .digit-custom-checkbox-emp {
    @extend .digit-custom-checkbox;
  }

  input:hover~.digit-custom-checkbox {
    @apply border-2 border-primary-main;
  }

  input:checked~.digit-custom-checkbox {
    border: 0.125rem solid theme(digitv2.lightTheme.primary-orange);
  }


  input:checked~.digit-custom-checkbox img {
    @apply opacity-100;
  }

  input:checked~.digit-custom-checkbox svg {
    @apply opacity-100;
    width: 1rem;
    height: 1rem;
  }

  .label {
    @extend .typography.body-s;
    @apply text-left;
    word-break: break-word;
    line-height: 1.5rem;
    letter-spacing: 0rem;
    color: theme(digitv2.lightTheme.text-primary);
  }

  &.disabled {
    .label {
      color: theme(digitv2.lightTheme.text-disabled);
    }

    .digit-custom-checkbox {
      border: 0.063rem solid theme(digitv2.lightTheme.text-disabled);
    }

    input:checked~.digit-custom-checkbox {
      border: 0.125rem solid theme(digitv2.lightTheme.text-disabled);
    }
  }
}