.Numeric {
    text-align: center;
    display: flex;
    align-content: center;
    justify-content: center;
}


.NumericButton {
    background-color: #EEE;
    color: #505A5F;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    width: 2.5rem;
    height: 2.5rem;
    border: 1px solid #505A5F;
    font-family: Roboto;
    font-style: normal;
    line-height: normal;
}