.digit-tag-container {
  @apply flex flex-wrap mb-md;
  gap: 0.5rem;

  @media (min-width: 481px) {
    /* Media query for tablets */
    max-width: 27.5rem;
    min-width: 12.5rem;
  }

  @media (max-width: 480px) {
    /* Media query for mobile */
    max-width: 20.5rem;
    min-width: 9.75rem;
    width: 100%;
  }

  @media (min-width: 768px) {
    /* Media query for desktop */
    max-width: 37.5rem;
    min-width: 12.5rem;
  }

  .digit-tag {
    @apply bg-grey-mid rounded-2xl pt-sm pb-sm flex justify-between items-center;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 14px;
    margin-left: 2px;
    height: 2rem;
    margin-top: 1rem;

    .digit-text {
      padding-right: 5px;
      max-width: calc(100% - 24px);
      height: 22px;
      overflow: hidden;
      text-overflow: clip;
    }

    &:hover {
      @apply cursor-pointer;

      .close {
        fill: black;
      }
    }
  }


  .digit-tag.multiselectdropdown-tag {
    padding: 0.5rem;
    gap: 0.5rem;
    align-items: center;
    display: inline-flex;
    border-radius: 3.125rem;
    background: theme(digitv2.lightTheme.divider);
    height: 2.5rem;
    margin: 0px;


    .digit-text {
      max-width: calc(100% - 24px);
      overflow: hidden;
      text-overflow: clip;
      color: theme(digitv2.lightTheme.text-color-primary);
      font-family: theme(digitv2.fontFamily.sans);
      font-size: 0.875rem;
      font-style: theme(digitv2.fontStyle.normal);
      font-weight: theme(digitv2.fontWeight.regular);
      line-height: theme(digitv2.lineHeight.normal);
      height: 1rem;
    }

    .close {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}