@import url("../index.scss");
@import url("../typography.scss");

.digit-card-input-error {
  @apply mb-lg pl-sm block w-full h-10 outline-none border-2 border-error border-solid bg-white leading-10 text-form-field text-text-primary;
}

.digit-text-input {
  @apply relative w-full;

  &.error {
    input,.digit-prefix,.digit-suffix {
      border: 1px solid theme(digitv2.alert.error);
    }
  }

  &.disabled {
    input,.digit-prefix,.digit-suffix{
      @apply border-grey-dark text-grey-dark !important;
      pointer-events: none !important;
      cursor: not-allowed;
    }
  }


  &.focused {
    input,.digit-prefix,.digit-suffix{
      border: 1px solid theme(digitv2.lightTheme.primary);
    }
  }

  &.noneditable {
    input, .digit-prefix,.digit-suffix{
      pointer-events: none !important;
      border: 1px solid theme(digitv2.lightTheme.input-border);
      background:  theme(digitv2.lightTheme.background);
      color: theme(digitv2.lightTheme.text-color-secondary);
    }
  }
}

.digit-text-input-width {
  max-width: 540px;
}

.digit-card-input {
  @apply mb-lg pl-sm outline-none mt-sm block border w-full h-10 border-input-border border-solid bg-white leading-10 text-form-field text-text-primary;
}

.digit-card-input-error {
  @apply mb-lg pl-sm block w-full h-10 outline-none border-2 border-error border-solid bg-white leading-10 text-form-field text-text-primary;
}

.digit-employee-card-input {
  @extend .typography.text-body-s;
  @apply mb-lg pl-sm outline-none block border w-full h-10 border-input-border border-solid bg-white leading-10 text-form-field text-text-primary;
  font-style: theme(digitv2.fontStyle.normal);
}

.digit-employee-card-input:disabled {
  @extend .typography.text-body-s;
  @apply border-grey-dark text-grey-dark !important;
  pointer-events: none !important;
}

.digit-employee-card-input--front {
  @extend .typography.text-body-s;
  width: fit-content !important;
  display: flex;
  align-items: center;
  background: theme(colors.grey.mid);
  border-right: 0;
  padding-right: 5px;
}

.digit-employee-card-input-error {
  @extend .typography.text-body-s;
  @apply mb-lg pl-sm block w-full h-10 outline-none border-2 border-error border-solid bg-white leading-10 text-form-field text-text-primary;
}

.digit-inputWrapper {
  display: flex;
  justify-content: flex-start;
  max-width: 500px;

  div {
    max-width: 80px;
  }

  span {
    margin-top: 16px;
    margin-left: 10%;
    margin-right: 10%;
  }
}


@screen dt {
  .digit-card-input {
    width: 480px;
  }

  .digit-card-input-emp {
    width: 240px;
  }

  .digit-card-input-error {
    width: 480px;
  }

  .digit-employee-card-input {
    @apply w-full;
  }

  .digit-employee-card-input-error {
    @apply w-full;
  }

  .digit-card-textarea {
    /* //width: 480px; */
    @apply w-full;
    max-width: 540px;
  }

  .card-input-emp {
    width: 240px;
  }
}

.digit-citizen-card-input {
  @extend .typography.text-body-s;
  @apply mb-lg pl-sm outline-none block border w-full h-10 border-input-border border-solid bg-white leading-10 text-form-field text-text-primary;
  font-style: theme(digitv2.fontStyle.normal);
}

.digit-citizen-card-input--front {
  @extend .typography.text-body-s;
  width: fit-content !important;
  display: flex;
  align-items: center;
  background: theme(colors.grey.mid);
  border-right: 0;
  padding-right: 5px;
}

.digit-employee-card-input-error {
  @extend .typography.text-body-s;
  @extend .light-input-border;
  @extend .alert-error;
  @apply mb-lg pl-sm block w-full h-10 outline-none border-2 border-error border-solid bg-white leading-10 text-form-field text-text-primary;
}

.digit-card-input-error {
  @extend .light-input-border;
  @extend .alert-error;
  @apply mb-lg pl-sm block w-full h-10 outline-none border-2 border-error border-solid bg-white leading-10 text-form-field text-text-primary;
}

.disabled {
  @apply border-grey-dark text-grey-dark !important;
  pointer-events: none !important;
}

.input-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 23.75rem;
  height: 5.6875rem;
}

.digit-prefix, .digit-suffix {
  color: theme(digitv2.lightTheme.text-color-secondary);
  font-size: 1.5rem;
  font-weight: theme(digitv2.fontWeight.bold);
  text-align: center;
  width: 2.5rem;
  height: 2.5rem;
  border: 1px solid theme(digitv2.lightTheme.text-color-secondary);
  font-family: theme(digitv2.fontFamily.sans);
  font-style: theme(digitv2.fontStyle.normal);
  line-height: theme(digitv2.lineHeight.normal);
  background: theme(colors.grey.mid);
  margin-top: -24px;
  pointer-events: none;
}


.digit-text-input-customIcon {
  position: absolute;
  right: 10px;
  transform: translateY(-100%);
  top: 50%;
  width: 1.5rem;
  height: 1.5rem;
}