.digit-card-textarea,
.digit-employee-card-textarea {
  @apply block outline-none  border w-full border-input-border border-solid bg-white h-24 text-form-field text-text-primary p-sm;
  @extend .light-input-border;

  font-family: theme(digitv2.fontFamily.sans);
  font-size: 1rem;
  font-style: theme(digitv2.fontStyle.normal);
  font-weight: theme(digitv2.fontWeight.regular);
  line-height: 1.5rem;
  padding:0.75rem;

  &.disabled {
    @apply border-grey-dark text-grey-dark !important;
    pointer-events: none !important;
    cursor: not-allowed;

  }

  &.noneditable {
    pointer-events: none !important;
    border: 1px solid theme(digitv2.lightTheme.input-border);
    background:  theme(digitv2.lightTheme.background);
    color: theme(digitv2.lightTheme.text-color-secondary);
  }

  &.error {
    border: 1px solid theme(digitv2.alert.error);
  }
}


.digit-employee-card-textarea {
  @apply w-full;
  width: 23.75rem;
  height: 6.25rem;
  max-width: 37.5rem;
  min-width: 12.5rem;
}

.digit-card-textarea:focus,
.digit-employee-card-textarea:focus {
  border: 1px solid theme(digitv2.lightTheme.primary);
}