@import url("../index.scss");
@import url("../typography.scss");

.digit-card-input-error {
  @apply block w-full h-10 outline-none bg-white text-form-field text-text-primary;
  font-style: theme(digitv2.fontStyle.normal);
  padding-left: 0.75rem;
  font-family: theme(digitv2.fontFamily.sans);
  font-size: 1rem;
  color: theme(digitv2.lightTheme.text-color-primary);
  line-height: 1.5rem;
  border: 1.5px solid theme(digitv2.alert.error);
}

.digit-text-input {
  @apply relative w-full;

  &.numeric {
    input {
      text-align: center;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  &.error {

    input,
    .digit-prefix,
    .digit-suffix,
    .digit-numeric-button-prefix,
    .digit-numeric-button-suffix {
      border: 1.5px solid theme(digitv2.alert.error);
    }

    .digit-numeric-button-prefix,
    .digit-prefix {
      border-right-style: hidden;
    }

    .digit-numeric-button-suffix,
    .digit-suffix {
      border-left-style: hidden;
    }
  }

  &.disabled {

    input,
    .digit-prefix,
    .digit-suffix,
    .digit-numeric-button-prefix,
    .digit-numeric-button-suffix {
      @apply border-grey-dark text-grey-dark !important;
      pointer-events: none !important;
      cursor: not-allowed;
      background-color: theme(digitv2.lightTheme.background);
      border: 1px solid theme(digitv2.lightTheme.divider);
    }

    input {
      background-color: white;
    }

    .digit-numeric-button-prefix,
    .digit-prefix {
      border-right-style: hidden;
    }

    .digit-numeric-button-suffix,
    .digit-suffix {
      border-left-style: hidden;
    }
  }

  input[type="time"]::-webkit-calendar-picker-indicator,
  input[type="date"]::-webkit-calendar-picker-indicator,
  input[type="date"]:disabled::-webkit-calendar-picker-indicator,
  input[type="time"]:disabled::-webkit-calendar-picker-indicator {
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    right: 0.75rem;
    cursor: pointer;
  }

  input[type="date"]:disabled::-webkit-calendar-picker-indicator,
  input[type="time"]:disabled::-webkit-calendar-picker-indicator {
    visibility: visible;
    filter: invert(85%) sepia(0%) saturate(337%) hue-rotate(50deg) brightness(99%) contrast(99%);
  }

  input[type="date"]:in-range::-webkit-datetime-edit,
  input[type="time"]:in-range::-webkit-datetime-edit,
  input[type="date"]:disabled::-webkit-datetime-edit,
  input[type="time"]:disabled::-webkit-datetime-edit,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-clear-button {
    display: none;
  }

  ::placeholder,
  input[type="date"][value=""]:not(:placeholder-shown)::before,
  input[type="time"][value=""]:not(:placeholder-shown)::before {
    content: attr(placeholder);
    color: theme(digitv2.lightTheme.text-color-disabled);
    font-family: theme(digitv2.fontFamily.sans);
    font-weight: theme(digitv2.fontWeight.regular);
    font-size: 16px;
    line-height: 24px;
  }

  &.noneditable {

    input,
    .digit-prefix,
    .digit-suffix,
    .digit-numeric-button-prefix,
    .digit-numeric-button-suffix {
      pointer-events: none !important;
      border: 1px solid theme(digitv2.lightTheme.input-border);
      background: theme(digitv2.lightTheme.background);
      color: theme(digitv2.lightTheme.text-color-disabled);
    }

    input {
      color: theme(digitv2.lightTheme.text-color-secondary);
    }

    .digit-numeric-button-prefix,
    .digit-prefix {
      border-right-style: hidden;
    }

    .digit-numeric-button-suffix,
    .digit-suffix {
      border-left-style: hidden;
    }

    input[type="date"]::-webkit-calendar-picker-indicator,
    input[type="time"]::-webkit-calendar-picker-indicator {
      visibility: visible;
      filter: invert(74%) sepia(7%) saturate(64%) hue-rotate(144deg) brightness(98%) contrast(89%);
    }
  }
}


.digit-card-input {
  @apply outline-none mt-sm block w-full h-10 bg-white text-form-field;
  padding-left: 0.75rem;
  border: 1px solid theme(digitv2.lightTheme.text-color-secondary);
  color: theme(digitv2.lightTheme.text-color-primary);
  line-height: 1.5rem;
}

.digit-card-input-error {
  @apply block w-full h-10 outline-none bg-white text-form-field text-text-primary;
  font-style: theme(digitv2.fontStyle.normal);
  padding-left: 0.75rem;
  font-family: theme(digitv2.fontFamily.sans);
  font-size: 1rem;
  color: theme(digitv2.lightTheme.text-color-primary);
  line-height: 1.5rem;
  border: 1.5px solid theme(digitv2.alert.error);
}

.digit-employee-card-input {
  @extend .typography.text-body-s;
  @apply outline-none block w-full h-10 bg-white text-form-field;
  font-style: theme(digitv2.fontStyle.normal);
  padding-left: 0.75rem;
  font-family: theme(digitv2.fontFamily.sans);
  font-size: 1rem;
  border: 1px solid theme(digitv2.lightTheme.text-color-secondary);
  color: theme(digitv2.lightTheme.text-color-primary);
  line-height: 1.5rem;
}

.digit-employee-card-input:disabled {
  @apply border-grey-dark text-grey-dark !important;
  pointer-events: none !important;
}

.digit-employee-card-input--front {
  @extend .typography.text-body-s;
  width: fit-content !important;
  display: flex;
  align-items: center;
  background: theme(colors.grey.mid);
  border-right: 0;
  padding-right: 5px;
}

.digit-employee-card-input-error {
  @extend .typography.text-body-s;
  @apply block w-full h-10 outline-none bg-white text-form-field text-text-primary;
  font-style: theme(digitv2.fontStyle.normal);
  padding-left: 0.75rem;
  font-family: theme(digitv2.fontFamily.sans);
  font-size: 1rem;
  color: theme(digitv2.lightTheme.text-color-primary);
  line-height: 1.5rem;
  border: 1.5px solid theme(digitv2.alert.error);
}

.digit-inputWrapper {
  display: flex;
  justify-content: flex-start;
  max-width: 500px;

  div {
    max-width: 80px;
  }

  span {
    margin-top: 16px;
    margin-left: 10%;
    margin-right: 10%;
  }
}

@screen dt {
  .digit-card-input {
    width: 480px;
  }

  .digit-card-input-emp {
    width: 240px;
  }

  .digit-card-input-error {
    width: 480px;
  }

  .digit-employee-card-input {
    @apply w-full;
  }

  .digit-employee-card-input-error {
    @apply w-full;
  }

  .digit-card-textarea {
    @apply w-full;
    max-width: 540px;
  }

  .card-input-emp {
    width: 240px;
  }
}

.digit-citizen-card-input {
  @extend .typography.text-body-s;
  @apply outline-none block w-full h-10 bg-white;
  font-style: theme(digitv2.fontStyle.normal);
  padding-left: 0.75rem;
  font-family: theme(digitv2.fontFamily.sans);
  font-size: 1rem;
  border: 1px solid theme(digitv2.lightTheme.text-color-secondary);
  color: theme(digitv2.lightTheme.text-color-primary);
  line-height: 1.5rem;
}

.digit-citizen-card-input--front {
  @extend .typography.text-body-s;
  width: fit-content !important;
  display: flex;
  align-items: center;
  background: theme(colors.grey.mid);
  border-right: 0;
  padding-right: 5px;
}

.digit-employee-card-input-error {
  @extend .typography.text-body-s;
  @extend .light-input-border;
  @apply block w-full h-10 outline-none bg-white text-form-field text-text-primary;
  font-style: theme(digitv2.fontStyle.normal);
  padding-left: 0.75rem;
  font-family: theme(digitv2.fontFamily.sans);
  font-size: 1rem;
  color: theme(digitv2.lightTheme.text-color-primary);
  line-height: 1.5rem;
  border: 1.5px solid theme(digitv2.alert.error);
}

.digit-card-input-error {
  @extend .light-input-border;
  @apply block w-full h-10 outline-none bg-white text-form-field text-text-primary;
  font-family: theme(digitv2.fontFamily.sans);
  padding-left: 0.75rem;
  font-family: theme(digitv2.fontFamily.sans);
  font-size: 1rem;
  color: theme(digitv2.lightTheme.text-color-primary);
  line-height: 1.5rem;
  border: 1.5px solid theme(digitv2.alert.error);
}

.disabled {
  @apply border-grey-dark text-grey-dark !important;
  pointer-events: none !important;
}

.input-container {
  position: relative;
  display: flex;
  align-items: center;
  height: 2.5rem;
  max-width: 37.5rem;
}

.input-container:focus-within {

  .digit-numeric-button-prefix,
  .digit-numeric-button-suffix,
  .digit-prefix,
  .digit-suffix,
  input {
    outline: none;
    border: 1.5px solid theme(digitv2.lightTheme.primary);
  }

  .digit-numeric-button-prefix,
  .digit-prefix {
    border-right-style: hidden;
  }

  .digit-numeric-button-suffix,
  .digit-suffix {
    border-left-style: hidden;
  }
}

.digit-prefix,
.digit-suffix,
.digit-numeric-button-prefix,
.digit-numeric-button-suffix {
  color: theme(digitv2.lightTheme.text-color-secondary);
  font-size: 1.5rem;
  font-weight: theme(digitv2.fontWeight.bold);
  text-align: center;
  width: 2.5rem;
  height: 2.5rem;
  border: 1px solid theme(digitv2.lightTheme.text-color-secondary);
  font-family: theme(digitv2.fontFamily.sans);
  font-style: theme(digitv2.fontStyle.normal);
  line-height: theme(digitv2.lineHeight.normal);
  background: theme(colors.grey.mid);
}

.digit-prefix,
.digit-numeric-button-prefix {
  border-right-style: hidden;
}

.digit-suffix,
.digit-numeric-button-suffix {
  border-left-style: hidden;
}

.digit-prefix,
.digit-suffix {
  pointer-events: none;
}

.digit-text-input-customIcon {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  top: 0.5rem;
  right: 0.75rem;
  cursor: pointer;
}