.digit-toast-success {
  @apply fixed flex z-20 items-center;
  width: calc(100% - 20px);
  bottom: 64px;
  left: 0;
  margin: 0 10px;
  gap: 0.5rem;
  height: 48px;
  padding: 0.75rem 0.5rem 0.75rem 0.75rem !important;
  background-color: theme(digitv2.lightTheme.alert-success);


  @media (min-width: 481px) and (max-width: 767px) {
    /* Media query for tablets */
    min-width: 30rem;
    max-width: 46.5rem;
  }

  @media (max-width: 480px) {
    /* Media query for mobile */
    min-width: 22.5rem;
    max-width: 22.5rem;
  }

  @media (min-width: 768px) {
    /* Media query for desktop */
    min-width: 50rem;
    max-width: 90rem;
  }

  &.digit-error {
    background-color: theme(digitv2.lightTheme.alert-error);
  }

  &.digit-warning {
    background-color: #F19100;

    &.digit-warning-buttons {
      @apply block;
    }
  }

  h2 {
    @extend .typography.caption-s;
    @apply text-left overflow-hidden whitespace-no-wrap flex-grow;
    letter-spacing: 0px;
    color: theme(digitv2.lightTheme.paper-primary);
    margin: 0px;
    min-height: 19px;
    text-overflow: ellipsis;


    @media (min-width: 481px) and (max-width: 767px) {
      /* Media query for tablets */
      min-height: 23px;
      line-height: 23.44px
    }

    @media (max-width: 480px) {
      /* Media query for mobile */
      min-height: 19px;
      line-height: 18.75px;
    }

    @media (min-width: 768px) {
      /* Media query for desktop */
      min-height: 23px;
      line-height: 23.44px
    }

  }

  .digit-warning-button-container {
    @apply w-full flex justify-end;

    button {
      margin-left: 10px;
    }
  }

  .digit-toast-sub-container {
    @apply flex;
  }

  svg {
    @apply flex-shrink-0;
  }
}