{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-proposal-optional-chaining"
  ],
   "ignore": [
    "node_modules",
    "node_modules/canvg",
    "**/node_modules/canvg/**"
  ]
}
