/* Campaign Template Row Card Styles */

.campaign-template-row-card {
  flex-direction: row;
  box-shadow: 0px 2px 10.6px 0px #00000026;
  gap: 24px;
  border-radius: 12px;
}

.campaign-template-image-container {
  min-width: 209px;
  width: 209px;
  height: auto;
  border-radius: 12px;
  background-color: #E8E8E8;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  flex-shrink: 0;
}

.campaign-template-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.campaign-template-no-image {
  color: #888;
  font-size: 14px;
  text-transform: uppercase;
}

.campaign-template-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  max-width: 100%;
  overflow: hidden;

  .campaign-template-content-tag-button {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
}

.use-template-button {
  box-shadow: 0px 2px 4px 0px #00000026;
  border-radius: 8px;
}

.campaign-template-tags {
  display: flex;
  gap: 8px;
  align-items: center;
  flex-wrap: wrap;
}

.campaign-template-title {
  margin: 0px;
  color: #0B4B66;
  padding-top: 0px;
}

.campaign-template-description {
  margin: 0;
  font-size: 14px;
  color: #505A5F;
  line-height: 1.5;
}

.campaign-template-modules {
  display: flex;
  gap: 0.5rem;
  align-items: baseline;
  flex-wrap: wrap;
}

.campaign-template-modules-label {
  color: #787878;
  white-space: nowrap;
  font-weight: 400 !important;
}

.campaign-template-modules-text {
  color: #787878;
  font-weight: 700;
}

.campaign-template-details {
  display: flex;
  gap: 3rem;
  font-size: 14px;
  color: #505A5F;
}

.campaign-template-tit-des-wrap {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.campaign-template-detail-item {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  width: 200px;
  height: 54px;
  justify-content: space-between;
  border-radius: 6px;
  padding-top: 4px;
  padding-right: 12px;
  padding-bottom: 4px;
  padding-left: 12px;
  background: #FFF9F0;
}

.campaign-template-detail-label {
  font-weight: 400;
  color: #505A5F;
  font-size: 12px;
}

.campaign-template-detail-value {
  margin: 0;
  font-size: 14px;
  color: #0B4B66;
  font-weight: 700;
  white-space: nowrap;
}

.campaign-template-action {
  display: flex;
  align-items: flex-start;
}

/* Responsive styles */
@media (max-width: 768px) {
  .campaign-template-row-card {
    flex-direction: column;
  }

  .campaign-template-image-container {
    width: 100%;
    max-width: 300px;
  }

  .campaign-template-details {
    flex-direction: column;
    gap: 1rem;
  }

  .campaign-template-action {
    width: 100%;

    button {
      width: 100%;
    }
  }
}