.products-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #0B4B66;
  }
  
.products-container {
    padding: 2rem;
    margin-left: 1.5rem;
  }

.products-description {
    font-size: 1rem;
    color: #666;
    margin-bottom: 2rem;
    max-width: 100%;
  }
  
.products-list {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
  }

.product-card {
    flex: 1 1 calc(25% - 2rem);
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #fff;
    flex-grow: revert;
  }
  
.product-header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    min-height: 3.2rem;
  
  }
  
  
  
.product-title {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: #0B4B66;
  }
  
.product-description {
    font-size: 0.9rem;
    color: #555;
    margin: 0.5rem 0;
  }
  
.explore-button {
    margin-top: auto;
    border: 1px solid #d9534f;
    color: #d9534f;
    font-weight: bold;
    width: 100%;
  }

.input-upload {
  width:300px;
  }

.digit-input-mirror-selector-button {
    width: 450px !important;
  }  

  .digit-selector-button-border{
    height: revert;
  }
  
  .digit-selector-button-primary {
    height: revert;
  }
  
  .digit-header-wrap{
    justify-content: space-between;
  }

  .digit-landing-page-card {
    &.module-page-card {
      .metric-container .metric-item .metric-label {
        white-space: normal;
        text-align: justify;
      }
    }
  }

  .service-card-header {
    background: linear-gradient(to left, #92A0AD, #fff);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
  }
  
  .service-card {
    width: 15rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    font-family: Arial, sans-serif;
    margin: 10px;
    height: 15rem;
  }
  
  .service-icon {
    font-size: 32px;
  }
  
  .service-card-body {
    padding: 16px;
  }
  
  .service-title {
    font-size: 18px;
    font-weight: 600;
    margin: 0 0 8px 0;
    color: #333;
  }
  
  .service-description {
    font-size: 14px;
    color: #555;
    margin-bottom: 12px;
  }

  .service-created-date {
    font-size: 13px;
    color: #555;
  }

  .create-card {
    border: 2px dashed #ddd;
    border-radius: 8px;
  }