.secondary-button:hover {
    border-radius: 4px;
    font-weight: 700;
    border: 1px solid var(--Primary-1, #C84C0E);
    background: var(--Paper-Primary, #FFF);
    box-shadow: 0px 3px 4px 0px rgba(115, 50, 18, 0.15);
    transform: translateY(-1px);
    transition: transform 0.2s ease;
}

.primary-button{
    border-radius: 6px;
}

.primary-button:hover{
    background: var(--Primary-1, #C84C0E);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    transform: translateY(-1px);
    transition: transform 0.2s ease;
}