@import "../../typography.scss";

/* language selection issue*/
.customBtn-selected {
  background-color: theme(digitv2.lightTheme.primary);
}

/* login  screen  issue*/

.primary-label-btn {
  color: theme(digitv2.lightTheme.primary) !important;
}

/* landing  screen  issue*/

.employeeCard {
  .complaint-links-container .header .logo {
    background-color: theme(digitv2.lightTheme.primary);
  }

  .complaint-links-container .body {
    &.link {
      color: theme(digitv2.lightTheme.primary);
    }
    .inbox-total {
      background-color: theme(digitv2.lightTheme.primary);
    }
  }
}

.employee .topbar .right .user-img-txt {
  background-color: theme(digitv2.lightTheme.primary);
}
/* button component   issue*/

.action-bar-wrap {
  .submit-bar {
    background-color: theme(digitv2.lightTheme.primary);
  }
}
.submit-bar {
  background-color: theme(digitv2.lightTheme.primary);
}
.link-label {
  color: theme(digitv2.lightTheme.primary) !important;
}
.jk-digit-secondary-btn {
  color: theme(digitv2.lightTheme.primary);
  border-color: theme(digitv2.lightTheme.primary);

  svg {
    fill: theme(digitv2.lightTheme.primary);

    path {
      fill: theme(digitv2.lightTheme.primary);
    }
  }
}
.error-boundary .error-container button {
  background-color: theme(digitv2.lightTheme.primary);
}

/* inbox  screen  issue*/

.inbox-search-wrapper {
  .search-tabs-container .search-tab-head-selected {
    color: theme(digitv2.lightTheme.primary);
    border-color: theme(digitv2.lightTheme.primary);
  }
  .submit-bar {
    background-color: theme(digitv2.lightTheme.primary);
  }
  .search-component-table .link {
    color: theme(digitv2.lightTheme.primary);
  }
  .link-label {
    color: theme(digitv2.lightTheme.primary) !important;
  }
}
.drag-drop-container .drag-drop-text .browse-text {
  color: theme(digitv2.lightTheme.primary);
}
/* toast new componnet css added */

@keyframes slideInFromBottom {
  from {
    bottom: -3rem;
  }
  to {
    bottom: 4rem;
  }
}

.toast-success.animate {
  animation: slideInFromBottom 0.5s ease forwards;
}

@media screen and (max-width: 768px) {
  .topbar {
    background: #0b4b66 !important;
    color: #fff;
  }
}
header {
  @extend .typography.text-heading-xl;
  margin-bottom: 0rem;
}
.digit-button-secondary {
  .icon-label-container {
    h2 {
      color: theme(digitv2.lightTheme.primary);
    }
  }
}

.card-container-delivery{
  .additional-elements-column{
    .icon-label-container{
    .digit-button-label{
      margin-top: 0.125rem;
    }
  }
  }
}

/*.digit-popup-wrap {
  background: rgba(0, 0, 0, 0.7);
  @apply flex  fixed w-full h-full overflow-auto top-0 left-0 min-h-screen;
  z-index: 10000;
  max-width: 100% !important;
  max-height: 100% !important;
}

@screen dt {
  .digit-popup-wrap {
    background: rgba(0, 0, 0, 0.7);
    @apply min-h-screen;
  }
}

.digit-popup-close-icon {
  @apply flex justify-end;
}*/

.employee {
  .digit-employeeSidebar {
    .sidebar {
      z-index: 999;
    }
  }
}

.digit-toast-success {
  transform: translateX(-50%);
  left: 50%;
  bottom: -100%;
}

@keyframes slideInFromBottom {
  from {
    bottom: -100%;
  }
  to {
    bottom: 4.5rem;
  }
}

.digit-toast-success.animate {
  animation: slideInFromBottom 0.5s ease forwards;
}
.horizontal-nav {
  background-color: transparent !important;
}
.horizontal-nav .sidebar-list.active .menu-label {
  color: theme(digitv2.lightTheme.primary);
}
.horizontal-nav .sidebar-list.active {
  border-bottom: 3px solid #c84c0e;
}
.stepper-wrapper {
  width: max-content;
}
.stepper-label {
  width: max-content;
}

.digit-popup-children-wrap {
  .parent-group {
    .digit-tag-container {
      max-width: 100%;
    }
  }
}
.digit-card-label {
  width: 30%;
}
.selecting-boundaries-pop {
  min-height: 50%;
}
.employee .digit-employeeSidebar .digit-sidebar {
  z-index: 999;
}
.employee .digit-topbar {
  z-index: 9999;
}
.digit-popup-overlay .digit-popup-wrapper {
  z-index: 10000;
}
.action-bar-wrap .actionBarClass {
  z-index: 10;
}
.campaign-flow-stepper {
  margin-left: -5.625rem;
  margin-right: -6.875rem;
}
.wbh-header-container {
  margin: 0rem;
}
.digit-description {
  display: contents !important;
}
.create-campaign-disable {
  opacity: 0.5;
  background: #c5c5c5 !important;
}
.date-field-container {
  .digit-new-date-format {
    z-index: 0;
  }
}

.employee-app-wrapper {
  &.digit-home-app-wrapper {
    .ground-container {
      &.digit-home-ground {
        margin-left: 0.75rem;
        margin-bottom: 2rem;
      }
    }
  }
}

.digit-landing-page-card {
  border-radius: 0.25rem;
}
.campaign-product-wrapper{
.digit-popup-footer{
  background-color: #fff;
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 9;
}
}