.fetch-from-microplan{
    .h1{
        font-size: 32px;
    }
    .sandbox-loader-screen{
        height: 100%;
        .sandbox-installation-steps{
            margin: 1rem;
        }
    }

    .digit-infobanner-wrap.info{
        margin: 1rem 0rem;
        max-width: 100%;
    }
    .bg-loader-with-gap-container{
        background: none!important;

        .bg-loader{
            border:  .5rem solid  theme(digitv2.lightTheme.primary) !important;
            border-top-color: white !important;
        }
        .bg-loader-text{
            color: theme(digitv2.lightTheme.primary) !important;
        }

    }
}