.health-dss-inbox-table {
  .rdt_TableBody {
    border: none !important;
  }
}

.custom-daterange-wrapper {
  position: relative;
  font-family: theme(digitv2.fontFamily.sans);
}

.custom-daterange-input {
  padding: 0.75rem;
  border: 0.063rem solid theme(digitv2.lightTheme.generic-inputborder);
  background-color: theme(digitv2.lightTheme.generic-background);
  cursor: pointer;
  width: fit-content;
  min-width: 37.5rem;
  display: inline-block;
  user-select: none;
  box-shadow: 0 0.063rem 0.188rem rgba(0, 0, 0, 0.1);

  @media (min-aspect-ratio: 9/16) and (max-aspect-ratio: 3/4) {
    /* Media query for tablets */
    max-width: 27.5rem;
  }

  @media (max-aspect-ratio: 9/16) {
    /* Media query for mobile */
    max-width: 100%;
    width: 100%;
  }

  @media (min-aspect-ratio: 3/4) {
    /* Media query for desktop */
    max-width: 37.5rem;
  }
}

.custom-daterange-input:hover {
  border-color: #999;
}

.custom-daterange-popup {
  position: absolute;
  top: 110%;
  left: 0;
  z-index: 1000;
  background: theme(digitv2.lightTheme.paper);
  border: 0.063rem solid #ddd;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.15);
}

.rdrSelected,
.rdrInRange,
.rdrStartEdge,
.rdrEndEdge {
  background: theme(digitv2.lightTheme.primary) !important;
  color: theme(digitv2.lightTheme.paper);
}

.rdrDayNumber span {
  color: theme(digitv2.lightTheme.text-primary);
}

.rdrDayNumber span:focus,
.rdrDayNumber span:active {
  color: theme(digitv2.lightTheme.paper);
}

.rdrDay:hover {
  background: theme(digitv2.lightTheme.primary-bg);
  border-radius: 1rem;
}

.stackedCard {
  box-shadow: 0 0.25rem 0.25rem rgb(0 0 0 / 25%);
  flex: 1;
  margin-top: 1.875rem;
}

.digit-stacked-table-container {
  height: 31.25rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  overflow-y: auto;
  align-items: flex-start;
}

.digit-stacked-table-container::-webkit-scrollbar {
  width: 0.5rem;
  background-color: theme(digitv2.lightTheme.background);
}

.digit-stacked-table-container::-webkit-scrollbar-track {
  background-color: theme(digitv2.lightTheme.background);
  border-radius: 0.563rem;
}

.digit-stacked-table-container::-webkit-scrollbar-thumb {
  background-color: theme(digitv2.lightTheme.divider);
  border-radius: 0.563rem;
}

.digit-stacked-table-container::-webkit-scrollbar:horizontal {
  height: 0.5rem;
  background-color: theme(digitv2.lightTheme.divider);
}

.digit-stacked-row {
  display: flex;
  width: 99%;
  justify-content: space-evenly;
  align-items: center;
  background-color: theme(digitv2.lightTheme.paper-secondary);
  color: theme(digitv2.lightTheme.text-color-secondary);
  border-radius: 0.25rem;
  border: 0.063rem solid theme(digitv2.lightTheme.divider);
  text-align: center;
  padding: 1.5rem;

  @media (max-aspect-ratio: 9/16) {
    /* Media query for mobile */
    flex-direction: column;
    gap: 1.5rem;
  }

  @media (min-aspect-ratio: 9/16) and (max-aspect-ratio: 3/4) {
    /* Media query for tablets */
    flex-direction: column;
    gap: 1.5rem;
  }
}

.digit-stacked-row-index {
  width: 20%;
  word-break: break-word;
  color: theme(digitv2.lightTheme.text-color-secondary);
  font-family: theme(digitv2.fontFamily.sans);
  font-style: theme(digitv2.fontStyle.normal);
  font-weight: theme(digitv2.fontWeight.bold);
  line-height: 1.14rem;
  text-align: left;

  @media (max-aspect-ratio: 9/16) {
    /* Media query for mobile */
    font-size: theme(digitv2.fontSize.heading-m.mobile);
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
  }

  @media (min-aspect-ratio: 9/16) and (max-aspect-ratio: 3/4) {
    /* Media query for tablets */
    font-size: theme(digitv2.fontSize.heading-m.tablet);
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
  }

  @media (min-aspect-ratio: 3/4) {
    /* Media query for desktop */
    font-size: theme(digitv2.fontSize.heading-m.desktop);
  }
}

.digit-stacked-abs-cell {
  width: 20%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  @media (max-aspect-ratio: 9/16) {
    /* Media query for mobile */
    width: 100%;
  }

  @media (min-aspect-ratio: 9/16) and (max-aspect-ratio: 3/4) {
    /* Media query for tablets */
    width: 100%;
  }
}

.digit-stacked-abs-value {
  color: theme(digitv2.lightTheme.text-color-secondary);
  font-family: theme(digitv2.fontFamily.sans);
  font-style: theme(digitv2.fontStyle.normal);
  font-weight: theme(digitv2.fontWeight.bold);
  line-height: 1.14rem;

  @media (max-aspect-ratio: 9/16) {
    /* Media query for mobile */
    font-size: theme(digitv2.fontSize.heading-m.mobile);
  }

  @media (min-aspect-ratio: 9/16) and (max-aspect-ratio: 3/4) {
    /* Media query for tablets */
    font-size: theme(digitv2.fontSize.heading-m.tablet);
  }

  @media (min-aspect-ratio: 3/4) {
    /* Media query for desktop */
    font-size: theme(digitv2.fontSize.heading-m.desktop);
  }
}

.digit-stacked-cell-sub-text,
.digit-pie-chart-legend-text,
.digit-dss-insight-card-difference {
  color: theme(digitv2.lightTheme.text-color-secondary);
  font-family: theme(digitv2.fontFamily.sans);
  font-style: theme(digitv2.fontStyle.normal);
  font-weight: theme(digitv2.fontWeight.regular);

  line-height: 1.37rem;

  @media (max-aspect-ratio: 9/16) {
    /* Media query for mobile */
    font-size: theme(digitv2.fontSize.body-s.mobile);
  }

  @media (min-aspect-ratio: 9/16) and (max-aspect-ratio: 3/4) {
    /* Media query for tablets */
    font-size: theme(digitv2.fontSize.body-s.tablet);
  }

  @media (min-aspect-ratio: 3/4) {
    /* Media query for desktop */
    font-size: theme(digitv2.fontSize.body-s.desktop);
  }
}

.digit-stacked-percentage-cell {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  @media (max-aspect-ratio: 9/16) {
    /* Media query for mobile */
    width: 100%;
  }

  @media (min-aspect-ratio: 9/16) and (max-aspect-ratio: 3/4) {
    /* Media query for tablets */
    width: 100%;
  }
}

.digit-stacked-progress-cell {
  display: flex;
  width: 60%;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}

.digit-stacked-percentage-value {
  width: fit-content;
  color: theme(digitv2.lightTheme.text-color-secondary);
  font-family: theme(digitv2.fontFamily.sans);
  font-style: theme(digitv2.fontStyle.normal);
  font-weight: theme(digitv2.fontWeight.bold);
  line-height: 1.14rem;

  @media (max-aspect-ratio: 9/16) {
    /* Media query for mobile */
    font-size: theme(digitv2.fontSize.heading-m.mobile);
  }

  @media (min-aspect-ratio: 9/16) and (max-aspect-ratio: 3/4) {
    /* Media query for tablets */
    font-size: theme(digitv2.fontSize.heading-m.tablet);
  }

  @media (min-aspect-ratio: 3/4) {
    /* Media query for desktop */
    font-size: theme(digitv2.fontSize.heading-m.desktop);
  }
}

.digit-stacked-percentage-bar-grey {
  background-color: #d9d9d9;
  width: 75%;
  border-radius: 1.75rem;
  height: 0.375rem;
}

.digit-stacked-percentage-bar-progress {
  margin: 0rem;
  border-radius: 1.75rem;
  height: 100%;
  position: relative;
}

.digit-stacked-progress-end-circle {
  width: 0.404rem;
  height: 0.404rem;
  background-color: theme(digitv2.lightTheme.paper);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
  box-shadow: 0rem 0.125rem 0.25rem 0rem #00000033;
  z-index: 2;
}

.digit-chart-header {
  display: flex;
  gap: 1.5rem;
  justify-content: space-between;

  @media (max-aspect-ratio: 9/16) {
    /* Media query for mobile */
    flex-direction: column;
  }

  .tooltip-content {
    max-width: 100% !important;
  }
}

.digit-dss-insight-card {
  .tooltip-content {
    width: fit-content;
    word-break: break-word;
    max-width: 100% !important;
  }
}

.digit-side-content {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: auto;
  justify-content: flex-end;

  .digit-table-search-wrapper {
    display: flex !important;
    width: fit-content;
    align-items: center;
    gap: 0.5rem;

    .digit-field {
      @media (min-aspect-ratio: 9/16) and (max-aspect-ratio: 3/4) {
        /* Media query for tablets */
        max-width: 27.5rem;
      }

      @media (max-aspect-ratio: 9/16) {
        /* Media query for mobile */
        max-width: 100%;
        width: 100%;
      }

      @media (min-aspect-ratio: 3/4) {
        /* Media query for desktop */
        width: 37.5rem;
      }
    }

    /*.digit-text-input-field {
      height: 2rem !important;

      .input-container {
        height: 2rem !important;

        .digit-employeeCard-input {
          height: 2rem !important;
        }

        .digit-text-input-customIcon {
          top: 0.25rem;
          right: 0.5rem;
        }
      }
    }*/
  }
}

.custom-table.digit-side-content{
  width: auto;
}

.digit-ellipsis-button-wrapper {
  width: 1.5rem;

  .digit-ellipsis-button {
    width: 1.5rem;
    min-width: 1.5rem;
    padding: 0rem;
    background-color: transparent !important;
    border: none;
    box-shadow: none;

    .digit-button-label {
      display: none;
    }
  }

  .header-dropdown-container {
    .header-dropdown-menu {
      left: unset;
    }
  }
}

.digit-generic-chart-header {
  font-family: theme(digitv2.fontFamily.sans);
  font-style: theme(digitv2.fontStyle.normal);
  font-weight: theme(digitv2.fontWeight.bold);
  line-height: 1.14rem;

  @media (max-aspect-ratio: 9/16) {
    /* Media query for mobile */
    font-size: theme(digitv2.fontSize.heading-m.mobile);
  }

  @media (min-aspect-ratio: 9/16) and (max-aspect-ratio: 3/4) {
    /* Media query for tablets */
    font-size: theme(digitv2.fontSize.heading-m.tablet);
  }

  @media (min-aspect-ratio: 3/4) {
    /* Media query for desktop */
    font-size: theme(digitv2.fontSize.heading-m.desktop);
  }
}

.digit-generic-chart-subheader,
.digit-dss-insight-card-text {
  color: theme(digitv2.lightTheme.text-color-secondary);
  font-family: theme(digitv2.fontFamily.sans);
  font-style: theme(digitv2.fontStyle.normal);
  font-weight: theme(digitv2.fontWeight.bold);
  line-height: 1.14rem;

  @media (max-aspect-ratio: 9/16) {
    /* Media query for mobile */
    font-size: theme(digitv2.fontSize.heading-s.mobile);
  }

  @media (min-aspect-ratio: 9/16) and (max-aspect-ratio: 3/4) {
    /* Media query for tablets */
    font-size: theme(digitv2.fontSize.heading-s.tablet);
  }

  @media (min-aspect-ratio: 3/4) {
    /* Media query for desktop */
    font-size: theme(digitv2.fontSize.heading-s.desktop);
  }
}

.digit-generic-chart-caption,
.digit-dss-insight-card-sub-text {
  color: theme(digitv2.lightTheme.text-secondary);
  font-family: theme(digitv2.fontFamily.sans);
  font-style: theme(digitv2.fontStyle.normal);
  font-weight: theme(digitv2.fontWeight.regular);
  line-height: theme(digitv2.lineHeight.lineheight2);

  @media (max-aspect-ratio: 9/16) {
    /* Media query for mobile */
    font-size: theme(digitv2.fontSize.body-s.mobile);
  }

  @media (min-aspect-ratio: 9/16) and (max-aspect-ratio: 3/4) {
    /* Media query for tablets */
    font-size: theme(digitv2.fontSize.body-s.tablet);
  }

  @media (min-aspect-ratio: 3/4) {
    /* Media query for desktop */
    font-size: theme(digitv2.fontSize.body-s.desktop);
  }
}

.digit-dss-insight-card-text,
.digit-dss-insight-card-sub-text {
  color: theme(digitv2.lightTheme.text-color-primary);
}

.digit-dss-card {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  gap: 1.5rem;

  .digit-dss-card-parent {
    flex: 1;
  }
}

.digit-dss-card {
  &.add-margin {
    margin-bottom: 1.5rem;
  }
}

.digit-donut-chart-container {
  height: 31.25rem;
}

.digit-loader-new {
  &.digit-center-loader {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.digit-pie-chart-inner-label-text {
  color: theme(digitv2.lightTheme.text-color-secondary);
  font-family: theme(digitv2.fontFamily.sans);
  font-style: theme(digitv2.fontStyle.normal);
  font-weight: theme(digitv2.fontWeight.regular);
  line-height: 1.37rem;

  @media (max-aspect-ratio: 9/16) {
    /* Media query for mobile */
    font-size: theme(digitv2.fontSize.body-s.mobile);
  }

  @media (min-aspect-ratio: 9/16) and (max-aspect-ratio: 3/4) {
    /* Media query for tablets */
    font-size: theme(digitv2.fontSize.body-s.tablet);
  }

  @media (min-aspect-ratio: 3/4) {
    /* Media query for desktop */
    font-size: theme(digitv2.fontSize.body-s.desktop);
  }
}

.digit-pie-chart-inner-label-value,
.digit-dss-insight-card-value {
  color: theme(digitv2.lightTheme.text-color-secondary);
  font-family: theme(digitv2.fontFamily.sans);
  font-style: theme(digitv2.fontStyle.normal);
  font-weight: theme(digitv2.fontWeight.bold);
  line-height: 1.14rem;

  @media (max-aspect-ratio: 9/16) {
    /* Media query for mobile */
    font-size: theme(digitv2.fontSize.heading-l.mobile);
  }

  @media (min-aspect-ratio: 9/16) and (max-aspect-ratio: 3/4) {
    /* Media query for tablets */
    font-size: theme(digitv2.fontSize.heading-l.tablet);
  }

  @media (min-aspect-ratio: 3/4) {
    /* Media query for desktop */
    font-size: theme(digitv2.fontSize.heading-l.desktop);
  }
}

.recharts-legend-item {
  margin-right: 0rem !important;
  margin-bottom: 1.5rem !important;
}

.digit-dss-insight-card-value {
  margin-bottom: 0.75rem;
}

.digit-dss-insight-card-difference {
  margin-top: 0.25rem;
  margin-bottom: 2rem;
  white-space: pre;
  display: flex;
  gap: 0.25rem;
  align-items: center;
  justify-content: center;

  &.increase {
    color: #00703C;
  }

  &.decrease {
    color: #D4351C;
  }
}

.recharts-layer {
  &.recharts-pie-sector {
    outline: none;
  }
}

.digit-pie-chart-tags {
  margin: 0rem;
}

.digit-stacked-collection-card-header-wrapper {
  display: flex;
  gap: 1rem;
  align-items: center;


  svg {
    width: 2.5rem;
    height: 2.5rem;
    flex-shrink: 0;
  }

  .digit-stacked-collection-card-header-text {
    color: theme(digitv2.lightTheme.text-color-primary);
    font-family: theme(digitv2.fontFamily.sans);
    font-style: theme(digitv2.fontStyle.normal);
    font-weight: theme(digitv2.fontWeight.bold);
    word-break: break-word;
    word-wrap: break-word;
    max-width: 100%;

    @media (max-aspect-ratio: 9/16) {
      /* Media query for mobile */
      font-size: theme(digitv2.fontSize.heading-m.mobile);
    }

    @media (min-aspect-ratio: 9/16) and (max-aspect-ratio: 3/4) {
      /* Media query for tablets */
      font-size: theme(digitv2.fontSize.heading-m.tablet);
    }

    @media (min-aspect-ratio: 3/4) {
      /* Media query for desktop */
      font-size: theme(digitv2.fontSize.heading-m.desktop);
    }
  }
}

.digit-dss-card-body-stacked {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.digit-digit-card-item {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.digit-dss-card-item-border {
  border-bottom: 0.063rem solid theme(digitv2.lightTheme.divider);
}

.digit-dss-insight-card {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.digit-stacked-collection-card {
  width: 33%;
}

.digit-dss-options-header-wrapper {
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
}

.digit-dss-options-header-options {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.digit-dss-options-header-text {
  color: theme(digitv2.lightTheme.text-color-primary);
  font-family: theme(digitv2.fontFamily.rc);
  font-style: theme(digitv2.fontStyle.normal);
  font-weight: theme(digitv2.fontWeight.bold);

  @media (max-aspect-ratio: 9/16) {
    /* Media query for mobile */
    font-size: theme(digitv2.fontSize.heading-xl.mobile);
  }

  @media (min-aspect-ratio: 9/16) and (max-aspect-ratio: 3/4) {
    /* Media query for tablets */
    font-size: theme(digitv2.fontSize.heading-xl.tablet);
  }

  @media (min-aspect-ratio: 3/4) {
    /* Media query for desktop */
    font-size: theme(digitv2.fontSize.heading-xl.desktop);
  }
}

.digit-dss-options-header-option-button {
  h2{
    color: theme(digitv2.lightTheme.text-color-secondary) !important;
  }
}

.table-column-header {
  max-width: 5rem;
  white-space: normal;              
  overflow-wrap: break-word; 
}
