.pop-inbox-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.pop-inbox-wrapper-filter-table-wrapper {
  display: flex;
  align-items: flex-start;
  gap: 1.5rem;
  width: 100%;
  max-width: 100%;

  .filter-card-vertical {
    max-width: 400px;
  }

  .pop-inbox-table-wrapper {
    width: 100% !important;
    max-width: 100%;
    overflow: auto;
  }
}

.table-actions-wrapper {
  display: flex;
  gap: 0.5rem;
  align-items: "center";
  flex-wrap: "wrap";
  margin-left: auto;
}

.data-table-select-checkbox{
  margin-bottom: 0px;
}

.rdt_Pagination{
  margin-top: -1rem;
  border: 1px solid #d6d5d4;
  border-top: 0px;
}

.sc-fzXfPc::-webkit-scrollbar {
  height: 0.5rem;
  background-color: #d6d5d4;
}

.sc-fzXfPc::-webkit-scrollbar-track {
  background-color: #d6d5d4;
  border-radius: 0.563rem;
}

.sc-fzXfPc::-webkit-scrollbar-thumb {
  background-color: #d6d5d4;
  border-radius: 0.563rem;
}
