.digit-results-card-component {
    gap: 1.5rem;
    box-shadow: 0rem 0.063rem 0.331rem 0rem #00000026;
    border-bottom-left-radius: 0rem;
    border-bottom-right-radius: 0rem;

    .digit-results-card-heading-tags-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .digit-results-card-heading {
            color: theme(digitv2.lightTheme.primary-2);
            font-family: theme(digitv2.fontFamily.sans);
            font-style: theme(digitv2.fontStyle.normal);
            font-weight: theme(digitv2.fontWeight.bold);
            line-height: 1.14rem;

            @media (max-aspect-ratio: 9/16) {
                /* Media query for mobile */
                font-size: theme(digitv2.fontSize.heading-m.mobile);
            }

            @media (min-aspect-ratio: 9/16) and (max-aspect-ratio: 3/4) {
                /* Media query for tablets */
                font-size: theme(digitv2.fontSize.heading-m.tablet);
            }

            @media (min-aspect-ratio: 3/4) {
                /* Media query for desktop */
                font-size: theme(digitv2.fontSize.heading-m.desktop);
            }
        }

        .digit-results-card-tags {
            display: flex;
            gap: 1rem;
        }
    }

    .digit-results-card-content {
        display: flex;
        align-items: stretch;

        .left-column,
        .right-column {
            flex: 1;
            flex-direction: column;
            gap: 1.5rem;
            display: flex !important;
        }

        .right-column {
            margin-left: 1.5rem;
        }

        .digit-divider {
            width: 0rem;
            border-color: #BFBFBF;
        }
    }
}

.digit-results-card-buttons {
    padding: 1.5rem;
    background: theme(digitv2.lightTheme.paper);
    margin-top: -1.5rem;
    box-shadow: 0rem 0rem 0.431rem 0rem #00000026;
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;


    .digit-results-card-buttons-internal {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 1fr; 
        gap: 1rem;
    }
}

.digit-viewcard-field-pair {
    &.digit-results-card-field-pair {
        .digit-viewcard-label {
            color: theme(digitv2.lightTheme.primary-2);
        }

        .digit-viewcard-value {
            color: #787878;
        }
    }
}

.digit-viewcard-field-pair {
    &.digit-results-status-card-field-pair {
            align-items: center;
            gap: 8.5rem;
            flex-direction: unset;
        .digit-viewcard-label {
            color: theme(digitv2.lightTheme.primary-2);
            width: unset;
        }

        .digit-viewcard-value {
            color: #787878;
        }
    }
}