@import url("../../index.scss");

/* Payment.css */

.component-table-wrapper .pagination {
    display: unset;
    justify-content: unset;
    background-color: unset;
    border-top: unset;
    padding: unset;
    color: unset;

    svg {
        margin-left: 0rem !important;
    }
}