@import url("./workbench.scss");


.digit-toast-success {
    transform: translateX(-50%);
    left: 50% !important;
    bottom: 10% !important;
}

@keyframes slideInFromBottom {
    from {
      bottom: -100%;
    }
    to {
      bottom: 4.5rem;
    }
  }
  
  .digit-toast-success.animate {
    animation: slideInFromBottom 0.5s ease forwards;
  }


  .digit-topbar .digit-logo-ulb-wrapper .digit-topbar-logo{
    width: fit-content;
  }

  .msb-sidebar{
    z-index: 1000;
  }

.digit-sidebar{
  top:4rem;
  z-index: 100;
}
