.link-label {
	 color: #f47738 !important;
}
 .submit-bar {
	 background-color: #c84c0e !important;
}
 .complaint-links-container .body .link a {
	 color: #c84c0e !important;
}
 .link {
	 color: #c84c0e !important;
}
 .action-bar-wrap .menu-wrap {
	 height: 100px;
}
 .SearchOnRadioButton svg {
	 width: 50rem;
}
 .app-container form .card .input-otp-wrap {
	 background-color: white !important;
}
 
