# name: Node.js Publish Health UI Packages
name: Node.js Publish Health UI CSS Packages

on:
  push:
    branches: [ 'develop','console', 'master']
    paths:
      - 'health/micro-ui/web/micro-ui-internals/packages/css/**'
      # - 'health/micro-ui/web/micro-ui-internals/**' disabling main since we target only for css
    
  pull_request:
    branches: 
      - 'dev-hcm'
      # Push events to branches matching refs/heads/mona/octocat

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 14
          registry-url: https://registry.npmjs.org/
      - run: cd health/micro-ui/web/micro-ui-internals/ && bash ./publish-develop.sh
        env:
          NODE_AUTH_TOKEN: ${{secrets.npm_token}}